body {
    padding-top: 50px;
    overflow-y: scroll; 
}
.main {
    padding: 30px 15px 10px 15px;
    text-align: center;
}

.margin-bottom {
    margin-bottom: 15px;
}

.tab-about-content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.about {
    width: 70%;
    padding: 30px 15px 10px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.form-search {
}

#search-button {
	margin: 15px;
}

#results {
}

#lucene-results {
}

#loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.time {
    margin-top: 28px;
    color: gray;
}

.highlight-annotation {
	background-color: lime;
}

.larger-modal-dialog {
    width: 800px !important;
}